*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'khand', sans-serif;
    text-decoration: none;
}
body{
    background-color: var(--primary-background-gray);
}
:root{
    --primary-gray: #434343;
    --primary-background-gray: #F1F1F1;
    --pastel-green: #D3F2EA;
    --pastel-red: #FFCFC2;
    --pastel-gradient: linear-gradient(90deg, rgba(255,207,194,1) 0%, rgba(211,242,234,1) 100%);
}
/*This container is placeholder for navbar since navbar is fixed*/
.container{
    padding-top: 7rem;
}
/*Less padding since mobile navbar is not as tall.*/
@media (max-width: 700px){
    .container{
        padding-top: 4rem;
        
    }
}
/*Start of every page header*/
.header{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: white;
    color: var(--primary-gray);
    font-family: "just me again down here", cursive;
    border-image: var(--pastel-gradient);
    border-width: 0px 0px 15px 0px;
    border-style: solid;
    margin-bottom: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*long-header is special header for logg inn/ registrer*/
@media (max-width: 800px){
    .long-header{
        font-size: 4rem;
    }
}
@media (max-width: 600px){
    .long-header{
        font-size: 3rem;
    }
}
@media (max-width: 450px){
    .long-header{
        font-size: 2rem;
    }
}
/*End of every page header*/
/*Start of Navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    background: var(--pastel-gradient); 
    width: 100%;
    height: 7rem;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: row;
    border-bottom: var(--primary-gray) 1px solid;
    position: fixed;
    transition: height 0.2s ease-in-out;
    z-index: 1000;
}
#navbar-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5rem;
    color: var(--primary-gray);
    font-family: "just me again down here", cursive;
    color: white;
    height: fit-content;
    width: fit-content;
    line-height: 1;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
}

.navbar-link-list{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2.5rem;
    color: var(--primary-gray);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .8rem;
    list-style-type: none;
}
.navbar-link{
    cursor: pointer;
    font-size: 2rem;
    list-style: none;
    color: var(--primary-gray);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .8rem;
}

.navbar-link:visited{
    color: var(--primary-gray);

}
.navbar-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary-gray);
    text-decoration-thickness: 3px;
    transition: .5s;
}
.navbar-link.active{
    text-decoration: underline;
    text-decoration-color: var(--primary-gray);
    text-decoration-thickness: 3px;
}
.navbar-link{
    color: var(--primary-gray);
}
@media (max-width: 1400px){

    /* #navbar-title{
        font-size: 4rem;
    } */
    .navbar-link{
        font-size: 2rem;
    }
    .navbar-link-list{
        gap: 1.8rem;
    }
}
@media (max-width: 1030px){

    #navbar-title{
        font-size: 3.8rem;
    }
    .navbar-link{
        font-size: 1.5rem;
    }
    .navbar-link-list{
        gap: 1.2rem;
    }
    .navbar-link.active{
        text-decoration-thickness: 2px;
    }
}
@media (max-width: 880px){

    #navbar-title{
        font-size: 1rem;
    }
    .navbar-link{
        font-size: 1.3rem;
    }
    .navbar-link-list{
        gap: .8rem;
    }
    .navbar-link.active{
        text-decoration-thickness: 1px;
    }
}




/*Below 700px start using mobile navbar*/
#mobile-navbar{
    display: none;
    justify-content: space-between;
    background: var(--pastel-gradient);
    width: 100%;
    height: 5rem;
    padding: 0rem .8rem 0rem .8rem;
    flex-direction: row;
    border-bottom: var(--primary-gray) 1px solid;
    position: fixed;
    transition: height 0.2s ease-in-out;
    z-index: 1000;
}
#mobile-navbar-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--primary-gray);
    font-family: "just me again down here", cursive;
    color: white;
    height: fit-content;
    width: fit-content;
    line-height: 1;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
}

/*Toggle between the two navbars when crossing 700px*/
@media (min-width: 701px){
    #navbar{
        display: flex;
    }
    #mobile-navbar{
        display: none;
    }
}
@media (max-width: 700px){
    #navbar{
        display: none;
    }
    #mobile-navbar{
        display: flex;
    }
}
#toggle-button{
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 100%;
    max-height: 5rem;
    padding: 1rem 0rem 1rem 0rem;
    transition: margin-top 0.2s ease-in-out;

}
.bar{
    display: block;
    background-color: var(--pastel-red);
    height: 10px;
    width: 100%;
    border-radius: 10px;
    border: solid var(--primary-gray) .05rem;

}
#navbar-mobile-links-container{
    display: flex;
    flex-direction: column;
    background: var(--pastel-gradient);
    position: fixed;
    border-bottom: var(--primary-gray) 1px solid;
    top: 5rem;
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    left: 0;
    text-align: center;
    transition: top 0.2s ease-in-out;
}
.navbar-mobile-link-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 2rem;
    gap: .5rem;
    padding: 1rem 0rem 1rem 0rem;
}
.navbar-mobile-link{
    cursor: pointer;
    font-size: 2rem;
    list-style: none;
    color: var(--primary-gray);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .8rem;
}
.navbar-mobile-link:visited{
    color: var(--primary-gray);

}
.navbar-mobile-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary-gray);
    text-decoration-thickness: 3px;
    transition: .5s;
}
.navbar-mobile-link.active{
    text-decoration: underline;
    text-decoration-color: var(--primary-gray);
    text-decoration-thickness: 3px;
}
.navbar-mobile-link{
    color: var(--primary-gray);
}
@media (max-width: 500px){
    #mobile-navbar-title{
        font-size: 4rem;
        margin-top: 0rem;
    }
}
@media (max-width: 400px){
    #mobile-navbar-title{
        font-size: 3.9rem;
        margin-top: 0rem;
    }
}
@media (max-width: 350px){
    #mobile-navbar-title{
        font-size: 3.2rem;
        margin-top: .3rem;
    }
}
@media (max-width: 300px){
    #mobile-navbar-title{
        font-size: 2.5rem;
        margin-top: 1rem;

    }
}
/*End of Navbar*/

/*START OF HOME PAGE*/
/* Start of image slider. Home page*/
#slide-container{
    margin-top: -7rem;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

}
.slides{
    width: 500%;
    display: flex;
    height: 100vh;  
}

.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}
.slide img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 5s;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-manual{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 5;
    bottom: 20px;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer; 
}
.manual-btn:not(:last-child){
    margin-right: 1rem;
}
.manual-btn:hover{
    background: var(--pastel-green);
    transition: .5s;
}


.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 4;
    bottom: 20px;
}
.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: .5s;
}
.navigation-auto div:not(:last-child){
    margin-right: 1rem;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--pastel-red);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--pastel-red);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--pastel-red);
}

/* End of image slider. Home page*/



/*Start of News Component*/
.news-container{
    background-color: white;
    margin: 2rem 3rem 2rem 3rem;
    color: var(--primary-gray);
    border: var(--primary-gray) 1px solid;
    border-radius: 1rem;
    min-width: 220px;
}
.news-title-background{
    background: var(--pastel-gradient);
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 1rem 1rem 1rem 1rem;

}
.news-text-background{
    padding: 1rem 1rem 1rem 1rem;
}
.news-container h1{
    
    font-size: 2.5rem;
    font-weight: 400;
}
.news-container p{
    font-size: 1.5rem;
    font-weight: 400;
    white-space: pre-line;
}
@media (max-width: 1000px){
    .news-container{
    margin: 1rem 1rem 1rem 1rem;

    }
    .news-container h1{
        font-size: 1.5rem;
        padding: 0rem 2rem 0rem .5rem;
    }
    .news-container p{
        font-size: 1.2rem;
        padding: 0rem 2rem 0rem .5rem;
    }
}
/*End of News Component*/







/*Start of Event Component*/
#event-component-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.event-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    width: 33%;
    max-width: 550px;
    min-width: 280px;
    background-color: white;
    color: var(--primary-gray);
    margin: 2rem;
    border-radius: 1rem;
}

.event-container img {
    max-width: 100%; /* Make sure the image doesn't exceed the container's width */
    max-height: 370px;
    height: auto;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    flex-shrink: 0; /* Prevent the image from shrinking */
}
.event-container p{
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem 1rem .5rem 1rem;
}
@media (max-width: 1000px){
    .event-container h1{
        font-size: 2rem;
    }
    .event-container p{
        font-size: 1rem;
    }
}
.event-divider{
    width: 100%;
    height: 1rem;
    background: var(--pastel-gradient);
}

/*End of Event Component*/

/*Start of Blog Component*/
.blog-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: var(--primary-gray);
    max-width: 100%;
    margin: 3rem;
    border-radius: 1rem;
    border: var(--primary-gray) 1px solid;
}
.blog-header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem 1rem 0rem 0rem;
}
.blog-profile-picture-frame {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--pastel-green);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.75);
}
.blog-profile-picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.blog-profile-name{
    font-size: 3rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
.blog-text{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem;
}

.blog-image{
    margin: 1rem;
    border-radius: 1rem;
    max-width: fit-content;
    max-height: fit-content;
    object-fit: cover;
}



@media(max-width: 1000px){
    .blog-profile-name{
        font-size: 2.5rem;
    }
    .blog-text{
        font-size: 1.2rem;
        margin: 1.2rem;
    }
    .blog-profile-picture-frame{
        width: 70px;
        height: 70px;
    }
    .blog-profile-picture{
        width: 60px;
        height: 60px;
    }
    .blog-container{
        margin: 1rem;
    }
    .blog-image{
        margin: 0.8rem;
    }
    
}
@media(max-width: 500px){
    .blog-profile-name{
        font-size: 1.5rem;
    }
    .blog-text{
        font-size: .9rem;
        margin: .5rem;
    }
    .blog-profile-picture-frame{
        width: 60px;
        height: 60px;
    }
    .blog-profile-picture{
        width: 50px;
        height: 50px;
    }
    .blog-container{
        margin: .8rem;
    }
    .blog-image{
        margin: 0.5rem;
    }
    
}
/*End of Blog Component*/


/*Start of Gallery Component*/
.gallery-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-component-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    background-color: white;
    color: var(--primary-gray);
    border-radius: 1rem;
    border: var(--primary-gray) 1px solid;
    min-width: 300px;

}

.gallery-header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--pastel-gradient);
    border-bottom: var(--primary-gray) 1px solid;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
}

.gallery-profile-picture-frame {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--pastel-green);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.75);
}
.gallery-profile-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.gallery-profile-name{
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
@media (max-width: 1000px){
    .gallery-profile-picture-frame{
        width: 50px;
        height: 50px;
    }
    .gallery-profile-picture{
        width: 40px;
        height: 40px;
    }
    .gallery-profile-name{
        font-size: 2rem;
    }
}
@media (max-width: 350px){
    .gallery-profile-name{
        font-size: 1.5rem;
    }
}
.gallery-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gallery-image{
    border-radius: 2rem;
    min-width: 200px;
    max-width: 50rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.5s;
}
.gallery-image:hover{
    transform: scale(1.02);
    transition: .5s;
}
@media (max-width: 1000px){
    .gallery-image{
        padding: .5rem;
    }
}





.gallery-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.gallery-popup-content {
    max-width: 80%;
    width: 80%;
    /* background: var(--pastel-gradient); */
    background-color: white;
    border: var(--primary-gray) 2px solid;
    padding: .5rem;
    border-radius: 2rem;
}
  
.gallery-popup-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
}
@media (max-width: 400px) {
    .gallery-popup-content {
    width: 100%;
    max-width: 100%;
    padding: 0rem;
    background-color: transparent;
    border: none;


    }
  }
    

/*End of Gallery Component*/








/*Start of Chat Page*/
#chat-outer-container{
    height: 600px;
    margin: 0rem  2rem 0rem 2rem;
}
.chat-container{
    border-radius: 1rem;
}
.message-input{
    color: var(--primary-gray);
}
/*End of Chat Page*/

/*Start of Login/Register page*/
#login-register-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-background-gray);
    padding: 2rem;
    color: var(--primary-gray);
    flex-direction: row;
}


#login-register-container h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    min-width: 150px;
}
#login-container,
#register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: var(--primary-background-gray);
    padding: 0rem 10rem 0rem 10rem;
}
#login-container form,
#register-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;

}
#login-container label,
#register-container label{
    font-size: 1.5rem;
    font-weight: 400;
}
#password-input,
#repeat-password-input,
#email-input,
#full-name-input,
#li-email-input,
#li-password-input{
    border: 2px solid var(--pastel-red);
    border-radius: 10px;
    margin-bottom: .8rem;
    padding-left: .5rem;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}
.submit-button{
    width: 100%;
    height: 3rem;
    background-color: var(--pastel-green);
    color: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.submit-button:hover{
    background-color: var(--pastel-red);
    transition: 1.5s;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px 0.5 #4343438c;
}
@media (max-width: 800px){
    #login-register-container{
        flex-direction: column;
        align-items: center;
    }

    #register-container{
        margin-top: 5rem;
    }
}


/*End of Login/Register page*/

/*Start of Dashboard page*/
.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    color: var(--primary-gray);
}
#upload-profile-pic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-profile-pic-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 120px;
    height: 120px;
}
.upload-profile-pic-btn img{
    width: 100%;
    height: 100%;
}
#edit-profilepic-hover{
    object-fit: fill;
    top: 10px;
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: var(--pastel-green);
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.upload-profile-pic-btn:hover #edit-profilepic-hover{
    opacity: 0.9;
    transition: .5s;
}
.dashboard-inner-container{
    width: 20rem;
}
.dashboard-name-container,
.dashboard-email-container,
.dashboard-phone-container,
.dashboard-address-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.dashboard-user-info-text{
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 1rem;
}
.dashboard-user-info-img{
    width: 3rem;
}
.dashboard-edit-btn{
    border: none;
    cursor: pointer;
    float: right;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
}
.edit-img{
    width: 2rem;
    height: 2rem;
}
.dashboard-edit-exit-btn-container{
    width: 100%;
    height: 2rem;
}
.dashboard-input{
    border: 2px solid var(--pastel-red);
    border-radius: 10px;
    padding-left: .5rem;
    margin-left: .5rem;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}
.profile-pic-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*End of Dashboard page*/





/*Start of multi page elements*/

/*Start of Upload Component*/
.upload-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--primary-gray);
    font-size: 2rem;
}
.upload-button{
    border: none;
    border-radius: 1rem;
    padding: 0;
    transition: box-shadow 0.2s ease;
    width: 60px;
    height: 60px;
}
.upload-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.upload-button-container img{
    width: 60px;
    height: 60px;
}
.upload-button-container p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;


}
@media (max-width: 1000px){
    .upload-button-container p{
        font-size: 1.2rem;
    }
}

.news-popup,
.event-popup,
.gallery-popup,
.blog-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}
.news-popup label,
.event-popup label,
.gallery-popup label,
.blog-popup label{
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--primary-gray);
}
.event-popup form,
.news-popup form,
.gallery-popup form,
.blog-popup form{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1300px;

}
.news-popup-content,
.event-popup-content,
.blog-popup-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}
@media (max-width: 500px){
    .news-popup-content,
    .event-popup-content,
    .blog-popup-content{
        width: 80%;
    }
}
#news-headline,
#news-text,
#event-headline,
#event-text,
#blog-headline,
#blog-text{
    border: 2px solid var(--pastel-red);
    border-radius: 10px;
    margin-bottom: .8rem;
    padding-left: .5rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}
#news-text,
#event-text,
#blog-text{
    height: 10rem;
    min-height: 5rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.popup-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.popup-btn{
    background-color: var(--pastel-green);
    color: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    border-radius: .5rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.popup-btn:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.upload-image-button{
    width: fit-content;
    padding: 0rem 1rem 0rem 1rem;
    height: 3rem;
    background-color: var(--pastel-green);
    color: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    border-radius: 10px;
    font-size: 1.5rem;
}
.upload-image-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.temp-btn-container{    
    position: fixed;
    bottom: 0;
    left: 0;}
.temp-button {

    padding: .5rem;
    font-size: 1rem;
    color: red;
    border: 1px solid red;
  }
/*End of Upload Component*/

/*Start of success popup*/
.success-failure-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
.success-failure-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: white;
    border-radius: 1rem;
    border: var(--primary-gray) 1px solid;
}
.success-failure-container p{
    color: var(--primary-gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    padding: .5rem 1rem .5rem 1rem;


}
.close-success-failure-popup-btn-container{
    width: 100%;
    height: 2rem;
    /* background: var(--pastel-gradient); */
    border-radius: 1rem 1rem 0rem 0rem;
}
.close-success-failure-popup-btn{
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    float: right;
    margin-right: .5rem;
}
/* .success-divider{
    width: 100%;
    height: 1.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background: var(--pastel-gradient);
} */
/*End of success popup*/

/*End of multi page elements*/
